<template>
  <FlexboxLayout flexDirection="column" justifyContent="center">
    <Login
      @register="state = 'register'"
      @login="$emit('login')"
      width="100"
      v-if="state === 'login'"
    />
    <Register
      @login="state = 'login'"
      width="100"
      v-else-if="state === 'register'"
    />
  </FlexboxLayout>
</template>

<script>
import Login from "~/components/AuthForms/Login";
import Register from "~/components/AuthForms/Register";

export default {
  components: { Login, Register },
  data() {
    return {
      state: "login"
    };
  }
};
</script>
