<template>
  <Page background="#fff" color="black">
    <Loader v-if="state == 'loading'" />
    <Auth @login="initializeState" v-else-if="state == 'auth'" />
    <StackLayout v-else-if="type == 'stack' || !type">
      <slot></slot>
    </StackLayout>
    <GridLayout v-else-if="type == 'grid'">
      <slot></slot>
    </GridLayout>
  </Page>
</template>

<script>
import initializeState from "~/actions/initializeState";
import { getCurrentAccount } from "~/actions/user";
import Auth from "~/components/Auth";
import Loader from "~/components/Loader";

export default {
  components: { Auth, Loader },
  props: ["type"],
  data() {
    return {
      state: "pending"
    };
  },
  mounted() {
    this.initializeState();
    this.$root.$on("setState", newState => {
      this.state = newState;
    });
    this.$root.$on("logout", () => {
      this.state = "auth";
    });
  },
  methods: {
    async initializeState() {
      this.state = "loading";
      const { user } = getCurrentAccount();
      if (user) {
        this.$root.$user = user;
      }
      const { currentUser } = await initializeState();
      if (!currentUser) {
        this.state = "auth";
      } else {
        this.state = null;
        if (!this.$root.$user) {
          this.$root.$user = user;
        }
      }
    }
  }
};
</script>
