<template>
  <Page class="loader">
    <Label text="loading..." />
  </Page>
</template>

<style lang="scss" scoped>
.loader {
  width: 100%;
  height: 100%;
  background-color: rgb(0, 4, 38);
  color: rgb(145, 145, 145);
  font-weight: bold;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-size: 30px;
}
</style>
