<template>
  <Layout>
    <Label
      fontSize="20px"
      fontWeight="bold"
      textAlign="center"
      width="100%"
      :text="user.name"
    />
    <Label
      fontSize="20px"
      fontWeight="bold"
      textAlign="center"
      width="100%"
      :text="user.email"
    />
    <RButton @tap="logOut" text="Log Out" />
  </Layout>
</template>

<script>
import Layout from "~/components/Layout";
import RButton from "~/components/base/RButton";
import { setCurrentAccount } from "~/actions/user";

export default {
  components: { Layout, RButton },
  methods: {
    logOut() {
      setCurrentAccount(false);
      this.$root.$emit("logout");
    }
  }
};
</script>
