<template>
  <StackLayout>
    <RInput
      @returnPress="$refs.password.focus()"
      v-model="email"
      :error="error.email"
      label="Email"
      keyboardType="email"
      hint="you@example.com"
      returnKeyType="next"
    />

    <RInput
      ref="password"
      @returnPress="attemptLogin"
      v-model="password"
      :error="error.password"
      label="Password"
      returnKeyType="go"
      secure
    />

    <FlexboxLayout flexDirection="row">
      <RButton :loading="loading" @tap="attemptLogin" text="Log In" />
      <Label @tap="$emit('register')">
        <FormattedString>
          <Span text="Not a member? " />
          <RButton
            @tap="$emit('register')"
            type="flat"
            size="small"
            text="Register"
          />
        </FormattedString>
      </Label>
    </FlexboxLayout>
  </StackLayout>
</template>

<script>
import RButton from "~/components/base/RButton";
import RInput from "~/components/base/RInput";
import { validateEmail } from "~/actions/validation";
import attemptLogin from "~/actions/auth/attemptLogin";
import { getLastUsedEmailOnDevice } from "~/actions/user";

const initialErrorState = {
  email: null,
  password: null
};
export default {
  components: { RButton, RInput },
  data() {
    return {
      loading: false,
      email: getLastUsedEmailOnDevice(),
      password: null,
      error: {
        ...initialErrorState
      }
    };
  },
  methods: {
    async attemptLogin() {
      const { email, password } = this;
      this.error = {
        ...initialErrorState
      };
      if (!this.validateEmail(email) || !this.validatePassword(password)) {
        return;
      }
      this.loading = true;
      let loggedIn = await attemptLogin(email, password);
      if (loggedIn) {
        this.setUser(loggedIn);
        this.$emit("login");
      } else {
        this.error.email = "There was a problem with your email or password.";
        this.loading = false;
      }
    },
    validateEmail(email) {
      const { valid, message } = validateEmail(email);
      if (!valid) {
        this.error.email = message;
      }
      return valid;
    },
    validatePassword(password) {
      if (!password) {
        this.error.password = "The password field is required";
        return false;
      }
      return true;
    }
  }
};
</script>

<style lang="scss" scoped>
@import "~/vars";

.form-error {
  color: $error;
  text-align: center;
}
</style>
