<template>
  <StackLayout>
    <RInput
      @returnPress="$refs.email.focus()"
      v-model="name"
      :error="error.name"
      label="Your Name"
      returnKeyType="next"
    />
    <RInput
      @returnPress="$refs.password.focus()"
      ref="email"
      v-model="email"
      :error="error.email"
      label="Email"
      keyboardType="email"
      hint="you@example.com"
      returnKeyType="next"
    />

    <RInput
      @returnPress="attemptRegister"
      ref="password"
      v-model="password"
      :error="error.password"
      label="Password"
      returnKeyType="go"
      secure
    />

    <FlexboxLayout flexDirection="row">
      <RButton @tap="attemptRegister" text="Register" />
      <Label @tap="$emit('login')">
        <FormattedString>
          <Span text="Already a member? " />
          <RButton
            @tap="$emit('login')"
            type="flat"
            size="small"
            text="Log In"
          />
        </FormattedString>
      </Label>
    </FlexboxLayout>
  </StackLayout>
</template>

<script>
import RButton from "~/components/base/RButton";
import RInput from "~/components/base/RInput";
import { validatePassword, validateEmail } from "~/actions/validation";

const defaultErrorState = {
  name: null,
  email: null,
  password: null
};

export default {
  components: { RButton, RInput },
  data() {
    return {
      name: null,
      email: null,
      password: null,
      error: {
        ...defaultErrorState
      }
    };
  },
  methods: {
    attemptRegister() {
      const { name, email, password } = this;
      this.error = { ...defaultErrorState };
      if (
        !this.validateName(name) ||
        !this.validateEmail(email) ||
        !this.validatePassword(password)
      ) {
        return;
      }
      console.log("attempting register");
    },
    validateName(name) {
      if (!this.name) {
        this.error.name = "Your name is required";
        return false;
      }
      return true;
    },
    validateEmail(email) {
      const { valid, message } = validateEmail(email);
      if (!valid) {
        this.error.email = message;
      }
      return valid;
    },
    validatePassword(password) {
      const { valid, message } = validatePassword(password);
      if (!valid) {
        this.error.password = message;
      }
      return valid;
    }
  }
};
</script>

<style lang="scss" scoped>
@import "~/vars";

.form-error {
  color: $error;
  text-align: center;
}
</style>
