<template>
  <Button
    @tap="$emit('tap')"
    :text="loading ? '...' : text"
    :class="`button type--${type || 'default'} size--${size || 'default'}`"
  />
</template>

<script>
export default {
  props: ["text", "type", "size", "loading"]
};
</script>

<style lang="scss" scoped>
@import "~/vars.scss";

.button {
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  border-radius: 8px;
}

.type {
  &--default {
    background: $black;
  }
  &--primary {
    background: $primary;
  }
  &--error {
    background: $error;
  }
  &--warning {
    background: $warning;
  }
}

.type {
  &--flat {
    color: $black;
    text-decoration: underline;
  }
}

.size {
  &--default {
    border-radius: 4px;
    padding: 10px 16px;
  }

  &--small {
    display: inline;
    padding: 0px;
    font-size: 12px;
  }
}
</style>
