<template>
  <StackLayout>
    <Label
      marginLeft="15"
      marginTop="30px"
      :marginBottom="labelMarginBottom"
      fontWeight="bold"
      :text="label"
    />
    <TextField
      @focus="focused = true"
      @blur="focused = false"
      @returnPress="$emit('returnPress')"
      ref="input"
      v-model="valueState"
      :hint="focused ? hint : null"
      :secure="secure"
      :returnKeyType="returnKeyType"
      :keyboardType="keyboardType"
    />
    <Label v-if="error" class="form-error" :text="error" />
  </StackLayout>
</template>

<script>
export default {
  props: [
    "error",
    "label",
    "value",
    "secure",
    "keyboardType",
    "hint",
    "returnKeyType"
  ],
  data() {
    return {
      focused: false,
      labelMarginBottom: -30,
      valueState: null,
      focus() {
        this.$refs.input.nativeView.focus();
      }
    };
  },
  mounted() {
    if (this.value) {
      this.valueState = this.value;
      this.focused = true;
    }
  },
  watch: {
    valueState(v) {
      this.$emit("input", v);
    },
    value(v) {
      this.valueState = v;
      if (v) {
        this.focus = true;
      }
    },
    focused(focus) {
      if (focus) {
        const interval = setInterval(() => {
          this.labelMarginBottom = this.labelMarginBottom + 2;

          if (this.labelMarginBottom >= -10) {
            clearInterval(interval);
          }
        });
      } else {
        if (this.valueState) return;
        const interval = setInterval(() => {
          this.labelMarginBottom = this.labelMarginBottom - 3;
          if (this.labelMarginBottom <= -30) {
            clearInterval(interval);
          }
        });
      }
    }
  },
  methods: {
    focus() {
      console.log("focus on meh");
    }
  }
};
</script>

<style lang="scss" scoped>
@import "~/vars";

.form-error {
  color: $error;
  text-align: center;
}
</style>
